.business-plan-tabs-container {
  margin: 65px;

  .tabs-container {
    p {
      font-size: 16px;
      text-align: start;
    }

    .ant-tabs-tab {
      font-size: 20px;
    }
  }

  img {
    max-width: 100%;
  }
}