.business-plan-tabs-container {
  margin: 65px;

  .tabs-container {
    p {
      font-size: 16px;
      text-align: start;
    }

    .ant-tabs-tab {
      font-size: 20px;
    }
  }

  .ant-table {
    .ant-table-container {
      .ant-table-content {
       .ant-table-thead {
         .ant-table-cell {
           font-size: 20px;
           color: #1D509E;
         }
       } 

       .ant-table-tbody {
         .ant-table-cell {
           font-weight: bold;
           font-size: 16px;
         }
       }
      }
    }
  }

  .ant-pagination {
    display: none;
  }

  img {
    max-width: 100%;
  }
}