@import '../../assets/scss/mixins.scss';

.restore-password-container {
  height: 100vh;

  .subtitle-content {
    margin-top: 70px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .form-container {
    margin: 0 250px;

    @include smallscreen {
      margin: 0 20px;
    }
  }

  @include smallscreen {
    margin: auto;
    margin-top: 80px;
    width: 90%;
  }
}