.info-col {

  .i-content-col {
    text-align: end;
    padding-right: 10px;
    font-size: 40px;
    color: #37517e;
  }
  
  .descrip-content-col {
    
  }
  
  @media (max-width: 768px) {
    padding: 0;
  }
}

.form-container {
  .form-content {
    padding-right: 50px;

    .ant-form-item-label {
      label {
        font-family: Quicksand;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #1D509E;
      }
    }
    .ant-form-item-control-input {
      .ant-form-item-control-input-content {
        text-align: end;
  
        input {
          border: 1px solid #1D509E;
          border-radius: 10px;
        }

        textarea {
          border: 1px solid #1D509E;
          border-radius: 10px;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 0 10px;
    }
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}